@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* .titulo{
    font-size: 76px;
    font-family: Arial, Helvetica, sans-serif;   
}
#titulo{
    font-size: 76px;
} */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.page-container{
  display: flex;
}

h1 {
  font-size: 76px;
  font-family: "Inter";
  font-weight: normal;
  margin-bottom: 16px;
}

.inpt {
  padding: 18px;
  border: none;
  background-color: #e5e5e5;
  border-radius: 5px;
  width: 377px;
  margin-bottom: 16px;
}

.btn {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 18px;
  width: 377px;
  /* height: 56px; */
  color: white;
  border: none;
}

.logincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50vw;
  /* width: 377px; */

}

.logo {
  height: 60px;
}

.robo-image {
  background-image: url(../../assets/imgs/Sidebar.png);
  background-size: cover;
  width: 50vw;
  height: 100vh;
}

